{% extends 'SibirCtfBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="box">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="text-center">Хочу на Кубок CTF</h1>
                <div class="row" style="margin-top: 40px;">
                    <a href="https://aciso.timepad.ru/event/563468/" data-twf-placeholder="yes">Перейти к заказу билетов</a>
                    <script type="text/javascript" async="async" defer="defer" charset="UTF-8" src="https://timepad.ru/js/tpwf/loader/min/loader.js" data-timepad-customized="11601" data-twf2s-event--id="563468" data-timepad-widget-v2="event_register"></script>
                </div>
            </div>

        </div>
    </div>
{% endblock %}