{% extends 'SibirCtfBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="box">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Я - волонтер</h1>
                <h3 class="text-center">Хочу на Кубок CTF</h3>
                <section style="margin: 0 auto; width: 500px;">
                    <a href="https://aciso.timepad.ru/event/571712/" data-twf-placeholder="yes">Перейти к заказу билетов</a><script type="text/javascript" async="async" defer="defer" charset="UTF-8" src="https://timepad.ru/js/tpwf/loader/min/loader.js" data-timepad-customized="11601" data-twf2s-event--id="571712" data-timepad-widget-v2="event_register"></script>
                </section>

            </div>

        </div>
    </div>
{% endblock %}