{% extends 'SibirCtfBundle:17:base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="box">

            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center"><strong>Конференция на SibirCTF 2016</strong></h2>
                <hr>
            </div>
            <div class="col-md-4">
                <img class="img-responsive text-center" src="{{ asset('img/log.png') }}" width="150" style="margin: 0 auto;" alt="">
            </div>
            <div class="col-md-8">
                <p>Основная тема конференции - "CTF. Что дальше?"</p>
                {#<p>Мы приглашаем всех желающих рассказать о своем опыте участия в CTF. Поделиться опытом проведения тренировок в команде.</p>#}
                <p><b>Если вы готовы выступить на конференции - пишите на <a href="mailto:info@sibirctf.org">info@sibirctf.org</a></b></p>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Программа
                    <strong>конференции</strong>
                </h2>
                <hr>

                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h4 style="margin: 40px 0">Программа конференции будет доступна чуть позже</h4>
                    </div>
                </div>
            </div>
            {#<div class="col-md-4">#}
                {#<p>Список участников и докладов</p>#}
                {#<p><a href="https://yadi.sk/i/MYviTpq5vhECD" target="_blank">Скачать в электронном виде</a></p>#}
            {#</div>#}
            {#<div class="col-md-8">#}
                {#<table class="table table-striped">#}
                    {#<thead class="table-thead">#}
                    {#<tr>#}
                        {#<th>Спикер</th>#}
                        {#<th>Название доклада</th>#}
                    {#</tr>#}
                    {#</thead>#}
                    {#<tbody>#}
                        {#<tr>#}
                            {#<td>Андрей Гейн</td>#}
                            {#<td>Почему классический CTF должен умереть</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<td>Денис Колегов (Positive Technologies)</td>#}
                            {#<td>Практические методы защиты веб-приложений</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<td>Копейцев Вячеслав (Лаборатория Касперского)</td>#}
                            {#<td>Эволюция Honeypot</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<td>Максим Смирнов</td>#}
                            {#<td>Платформа Hackforces</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<td>Олег Брославский</td>#}
                            {#<td>10 вредных советов организаторам CTF для школьников</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<td>Дмитрий Муковкин</td>#}
                            {#<td>10 вредных советов при разработке платформы для CTF</td>#}
                        {#</tr>#}
                    {#</tbody>#}
                {#</table>#}
            {#</div>#}
        </div>
    </div>
{% endblock %}

