{% extends 'SibirCtfBundle::base.html.twig' %}

{% block body %}
    <style>
        .list-competitions li {
            width: 200px;
            height: 50px;
            display: inline-block;
            font-size: 2em;
        }
    </style>
    <div class="container-fluid">
    <div class="row">

            <div class="col-lg-12 page-about__header">
                <div class="page-about__title col-md-5 col-md-offset-2">
                <h2 class="intro-text"><strong>О соревновании</strong></h2>
                <p>Кубок CTF России — это первый масштабный CTF-турнир, во время которого команды-победители региональных CTF-соревнований сойдутся в легендарной битве, чтобы выявить сильнейшую российскую команду по итогам года!</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Список соревнований 2017 года,</strong><br /> победители которых приглашаются на Кубок CTF</h2>
                <hr style="margin-left: 0px; max-width: 700px">
            </div>
            <div class="col-md-8 col-md-offset-2">
                <ul class="list-competitions">
                    <a href="https://vk.com/sibirctf"><li>SibirCTF</li></a>
                    <a href="https://vk.com/ructf"><li>RuCTF</li></a>
                    <a href="https://ctfnews.ru/news/404"><li>AeroCTF</li></a>
                    <a href="https://vk.com/omctf"><li>OmCTF</li></a>
                    <a href="http://ctf.volsu.ru/"><li>VolSU CTF</li></a>
                    <a href="https://ctfnews.ru/news/447"><li>Ugra CTF</li></a>
                    <a href="https://vk.com/altayctf2017"><li>Altay CTF</li></a>
                    <a href="https://vk.com/dagctf"><li>DagCTF</li></a>
                    <a href="https://vk.com/uralctf"><li>UralCTF</li></a>
                    <a href="http://crimeactf.ru/"><li>CrimeaCTF</li></a>
                    <a href="http://goctf.ru/"><li>GoCTF School</li></a>
                    <a href="http://mctf.aciso.ru/"><li>M*CTF</li></a>
                    <a href="https://volgactf.ru/"><li>VolgaCTF</li></a>
                    <a href="https://kubanctf.ru/"><li>KubanCTF</li></a>
                    <a href="https://vk.com/krasctf2017"><li>KrasCTF</li></a>
                    <a href="http://ctf.cs.msu.ru/"><li>Moscow School CTF</li></a>
                </ul>
            </div>

            <div class="col-lg-8 col-lg-offset-2">
                <h2><strong>Список команд-разработчиков,</strong><br />которые приглашены на Кубок CTF</h2>
                <hr style="margin-left: 0px; max-width: 700px">
            </div>

            <div class="col-md-8 col-md-offset-2">
                <ul class="list-competitions">
                    <a href="https://vk.com/hackerdom"><li>HackerDom</li></a>
                    <a href="https://altayctf.ru/"><li>SharLike</li></a>
                </ul>
            </div>


            <div class="col-lg-8 col-lg-offset-2">
                <h2><strong>Список утвержденных команд,</strong><br />которые едут на Кубок CTF</h2>
                <hr style="margin-left: 0px; max-width: 700px">
            </div>
            <div class="col-md-8 col-md-offset-2">
                <ul class="list-competitions">
                    <li>Yozik</li>
                    <li>Suslo.PAS</li>
                    <li>4bidd3n</li>
                    <li>0x1DEA</li>
                    <li>DnO</li>
                    <li>CoolNULL</li>
                    <li>VoidHack</li>
                    <li>Ishnu-dal-dieb</li>
                    <li>SharLike</li>
                    <li>Хакердом</li>
                    <li>TL;DR</li>
                    <li>FMI</li>
                    <li>paperwhale</li>
                    <li>Magnum Opus</li>
                    <li>Kibernetika</li>
                    <li>SFT0</li>
                    <li>Shadow Servants</li>
                    <li>#miet</li>
                    <li>MSHP SSL: Kekulechko Net Diggers</li>
                    <li>Камнеежка</li>
                </ul>
            </div>
    </div>
    </div>
{% endblock %}