{% extends 'SibirCtfBundle::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <div class="row" style="overflow: hidden">
            <div class="row page-place__photo" style="background-image: url('{{ asset('img/skolkovo_location.jpg') }}'); background-repeat: no-repeat; ">
                <div class="page-place__info">
                    <div class="col-md-12 text-center">
                        <h3>Инновационный центр «Сколково»</h3>
                        <h4>8-9 декабря 2017 года</h4>
                        <p>143026, г. Москва, территория ИЦ «Сколково», Большой бульвар, 42, корп. 1</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <hr>
                <h2 class="intro-text text-center">Добраться общественным транспортом</h2>
                <hr>
                <img src="http://sk.ru/cfs-file.ashx/__key/communityserver-components-userfiles/00-00-02-15-95-attached+files/scheme2_2D00_outer_2D00_4_2D00_ru.jpg" width="100%">
            </div>

            <div class="col-lg-6">
                <hr>
                <h2 class="intro-text text-center">Внутренние маршруты</h2>
                <hr>
                <img src="http://sk.ru/cfs-file.ashx/__key/communityserver-components-userfiles/00-00-02-15-95-_3F044004380441043E043504340438043D0435043D043D044B043504_+_4404300439043B044B04_/scheme2_2D00_inner_2D00_5_2D00_ru.jpg" width="100%">
            </div>

            <div class="col-md-8 col-md-offset-2" style="margin-top: 20px">
                <p>
                    <a href="http://sk.ru/cfs-file.ashx/__key/communityserver-components-userfiles/00-00-02-15-95-_3F044004380441043E043504340438043D0435043D043D044B043504_+_4404300439043B044B04_/1111.png">
                        <span class="glyphicon glyphicon-file"></span> Расписание маршрутов 818 Э от ст.м. «Славянский бульвар» автобусов и шаттлов 867 от ст. м. «Кунцевская» до ИЦ «Сколково»
                    </a>
                </p>
                <p>
                    <a href="http://sk.ru/cfs-file.ashx/__key/communityserver-components-userfiles/00-00-02-15-95-_3F044004380441043E043504340438043D0435043D043D044B043504_+_4404300439043B044B04_/5554.2222.png">
                        <span class="glyphicon glyphicon-file"></span> Расписание маршрутов 818 Э (от технопарка), автобусов и шаттлов 867 от ИЦ «Сколково» до ст. м. «Славянский бульвар» и ст. м. «Кунцевская»
                    </a>
                </p>
                <p>
                    <a href="http://sk.ru/cfs-file.ashx/__key/communityserver-components-userfiles/00-00-02-15-95-_3F044004380441043E043504340438043D0435043D043D044B043504_+_4404300439043B044B04_/11127.png">
                        <span class="glyphicon glyphicon-file"></span> Расписание маршрута 27 от ж.д. «Трехгорка» и мкр. «Новая Трехгорка» (ул. Кутузовская д. 4) до Квартала Менделеева через Усадьбу и Технопарк и обратно ПО БУДНЯМ
                    </a>
                </p>
                <p>
                    <a href="http://sk.ru/cfs-file.ashx/__key/communityserver-components-userfiles/00-00-02-15-95-_3F044004380441043E043504340438043D0435043D043D044B043504_+_4404300439043B044B04_/22227.png">
                        <span class="glyphicon glyphicon-file"></span> Расписание маршрута 27 от ж.д. «Трехгорка» и мкр. «Новая Трехгорка» (ул. Кутузовская д. 4) до Квартала Менделеева через Усадьбу и Технопарк и обратно ПО ВЫХОДНЫМ И ПРАЗДНИЧНЫМ ДНЯМ
                    </a>
                </p>
                <p>
                    <a href="http://sk.ru/cfs-file.ashx/__key/communityserver-components-userfiles/00-00-02-15-95-_3F044004380441043E043504340438043D0435043D043D044B043504_+_4404300439043B044B04_/33327.png">
                        <span class="glyphicon glyphicon-file"></span> Расписание маршрута 27 жк «Гусарская баллада» и станции «Одинцово»
                        (ул. Вокзальная д 2, ТЦ «Андромеда» до Квартала Менделеева через Усадьбу и
                        Технопарк и ОБРАТНО ПО БУДНЯМ, ВЫХОДНЫМ И ПРАЗДНИЧНЫМ ДНЯМ
                    </a>
                </p>
                <p>
                    <a href="http://sk.ru/cfs-file.ashx/__key/communityserver-components-userfiles/00-00-02-15-95-_3F044004380441043E043504340438043D0435043D043D044B043504_+_4404300439043B044B04_/rrrrrr.png">
                        <span class="glyphicon glyphicon-file"></span> Расписание маршрута 1147 от ст. м. «Тропарево» до ОРП «Минская»
                        и в обратном направлении ПО БУДНЯМ
                    </a>
                </p>
                <p>
                    <a href="http://sk.ru/cfs-file.ashx/__key/communityserver-components-userfiles/00-00-02-15-95-_3F044004380441043E043504340438043D0435043D043D044B043504_+_4404300439043B044B04_/819.png">
                        <span class="glyphicon glyphicon-file"></span> Расписание маршрута 819K от ст м. «Славянский бульвар» до
                        остановки «Технопарк» и в обратном направлении ПО БУДНЯМ
                    </a>
                </p>
                <p>
                    <a href="http://sk.ru/cfs-file.ashx/__key/communityserver-components-userfiles/00-00-02-15-95-_3F044004380441043E043504340438043D0435043D043D044B043504_+_4404300439043B044B04_/523.png">
                        <span class="glyphicon glyphicon-file"></span> Расписание маршрута 523 от ст. МЦК «Кутузовская» до ОРП «Минская»
                        ПО БУДНЯМ И ВЫХОДНЫМ
                    </a>
                </p>
                <p>
                    <a href="http://sk.ru/cfs-file.ashx/__key/communityserver-components-userfiles/00-00-02-15-95-_3F044004380441043E043504340438043D0435043D043D044B043504_+_4404300439043B044B04_/523a.png">
                        <span class="glyphicon glyphicon-file"></span> Расписание маршрута 523 от ОРП «Минская» и Технопарка до станции МЦК «Кутузовская»
                        ПО БУДНЯМ И ВЫХОДНЫМ
                    </a>
                </p>
            </div>
    </div>
</div>
{% endblock %}