{% extends 'SibirCtfBundle::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
            <div class="col-lg-12 page__title">
                <h2 class="intro-text text-center">Правила
                </h2>
            </div>
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Порядок отбора на
                    <strong>соревнования</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-8 col-md-offset-2" style="text-align: justify">
                <p>Участвовать в соревнованиях может команда, получившая приглашение на участие и состоящая из студентов, учащихся ссузов, школьников и выпускников высших учебных заведений, закончивших вуз в 2016-2017 учебном году.</p>
                <p>К участию в Кубке CTF России приглашаются победители соревнований, опубликованных на сайте ctfcup.ru.</p>
                <p>В случае отказа команды, занявшей 1 место, право участия переходит ко 2 месту, аналогично с 3 местом при отказе призеров 2-го.</p>
                <p>При отказе призеров 3 места соревнование вылетает из списка приглашенных.</p>
                <p>Максимальное количество членов команды — 7 человек</p>
                <p>Состав команд-разработчиков, приглашенных к участию в турнире, утверждается председателем оргкомитета и может выходить за возрастные рамки.</p>
                <p>От одного учебного заведения допускается не более одной команды.</p>
                <p>В случае, если от одного учебного заведения прошло больше одной команды по результатам разных соревнований, решение принимается председателем оргкомитета.</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Документы
                    <strong>Соревнований</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <p>Здесь вы можете просмотреть все официальные документы соревнования</p>
                <p><a href="{{ asset('docs/zayavka.docx') }}">Заявка на участие</a></p>
                <p><a href="{{ asset('docs/polozenie.pdf') }}">Положение Кубка CTF</a></p>
                <p></p>
            </div>

        </div>
    </div>
{% endblock %}