{% extends 'SibirCtfBundle:17:base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="box">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Я - зритель</h1>
                <h3 class="text-center">Хочу на SibirCTF</h3>
                {{ form_start(form) }}
                <div class="col-md-8">{{ form_row(form.fio) }}</div>
                <div class="col-md-6" style="margin-top: 15px">{{ form_row(form.mail) }}</div>
                <div class="col-md-12" style="margin-top: 15px"><button class="btn" type="submit">Зарегистрироваться</button></div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>
{% endblock %}